<template name="about">
	<div class="animated fadeIn about view">
    <div class="ui stackable page grid">
      <div class="column">
        <h1>About</h1>
				<p>My passion for computers started at an early age. I was young and impressionable, growing up in the city of Rovno, Ukraine. My family wasn't well off but we got by. We didn't have much access to technology then but some of it managed to slip past the border. The first time I laid eyes on a computer was when I visited my friends house. We spent the entire time playing all kinds of games on it. This was when I secretly told myself that someday I would have a computer of my own.</p>
				<p>When I was about nine years old, my family moved to the United States. I was living in Ellensburg, Washington at the time with my mom, when a friend gifted me an old computer. It was an ancient machine and I forgot what model it was but I remeber it ran DOS and I had to type commands in order to load the programs I wanted to use. An I clearly remember the games. All kinds of choose your own adventure games, space invaders clones, branches of pong and tetris type of games. They were amazing to me as a kid. These games made me remember that day when I was at my friends house in Ukraine. I appreciated the moment I was in because I locked that memory away for safe keeping. My attraction towards computers and software seemed to shift into places somewhere in my brain, to be rediscovered later. Just one of those moments that helped shape my future self.</p>
        <h2>A glimpse into web development</h2>
				<p></p>
	   </div>
    </div>
  </div>
</template>
