@import 'helpers';
@import 'variables';

// dashboard view

.dashboard.view {

	.ui.page.grid {

		.column {

			// login form
			.ui.at-form {
				margin: 15vh 0;
        background: @cloud-gray;

				.at-title {
          color: @font-color;

					.ui.header {
            border: 0;
          }
        }

				.at-pwd-form {

					.ui.input {

						input:focus {
							border-color: @europa-blue;
							-webkit-box-shadow: 0.3em 0em 0em 0em @europa-blue inset;
              box-shadow: 0.3em 0em 0em 0em @europa-blue inset;
						}
					}
				}
      }

			// new post
			.ui.form.new-post {
				margin: 1em 0 0;
				padding: 0;
				background: transparent;
				box-shadow: none;

				.two.fields {

					.editor,
					.preview {
						display: none;
					}
				}

				// show editor
				&.active-editor {

					.two.fields {

						.editor {
							display: block;
						}

						.preview {
							display: none;
						}
					}
				}

				// show preview
				&.active-preview {
					.two.fields {

						.editor {
							display: none;
						}

						.preview {
							display: block;
						}
					}
				}
			}
    }
  }
}
