@import 'helpers';
@import 'variables';

// home view

.home.view {

  .view-header {
    height: 60vh;
    background: url(@home-header-img);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .title {
      margin: 0;
      padding: 25vh 0 0;
      font-size: 2em;
      line-height: 1;
    }
  }

  .page.grid {

  }
}
