@import 'helpers';
@import 'variables';
@import 'lib/elements';

// Main styles

html {
  height: 100%;
  font-family: @font-family-base;

  body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .layout {
      min-height: 100%;
      overflow: hidden;
      background: url(@background-img);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      aside.menu {
        position: absolute;
        width: 35vh;
        opacity: 0;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;

        .ui.profile {
          display: block;
          width: 30vh;
          padding: 1em;

          img {
            float: left;
            margin-right: 1em;
          }

          .name-title {
            font-size: @font-size-base;
          }
        }

        .ui.icon.menu {
        }

        .ui.vertical.menu {
        }
      }

      .header {
        position: relative;

        .ui.icon.menu {
          background: transparent;
          box-shadow: none;

          .item {
            color: @font-color;
            text-transform: uppercase;

            &:hover,
            &:focus {
              color: @gray-light;
              background: transparent;
            }

            .content.icon:before {
              content: "\f0c9";
            }
          }
        }
      }

      .yield {
        position: relative;
        height: 100vh;
        padding: 0 0 3em;
        overflow: hidden;
        background: @background-color;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;

        .view {
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100%;
            background: rgba(0,0,0,0.3);
            content: '';
            opacity: 0;
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
            -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
            transition: opacity 0.3s, transform 0s 0.3s;
          }
        }
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      &.menu-active {

        aside.menu {
          opacity: 1;
        }

        .header {

          .ui.icon.menu {

            .item {
              color: @light;

              &:hover,
              &:focus {
                color: @gray-lighter;
              }
            }
          }
        }

        .yield {
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
          background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.5)));
          background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
          background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
          background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
          background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=1 );
          -webkit-filter: blur(0.5em);
          -moz-filter: blur(0.5em);
          -o-filter: blur(0.5em);
          -ms-filter: blur(0.5em);
          filter: blur(0.5em);
          -webkit-transform: translate3d(35vh, 60px, 0);
          transform: translate3d(35vh, 60px, 0);

          .view::before {
            opacity: 1;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
        }
      }
    }
  }
}
