@import 'helpers';
@import 'variables';
@import 'lib/elements';

// main styles

*, :after, :before {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: @font-family-base;

  body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    // typography

    h1, h2, h3,
    h4, h5, h6 {
      margin: 0.75em 0;
      color: @font-color;
      font-weight: bold;
      line-height: @line-height-base;
    }

    h1 {
      border-bottom: 1px solid @cloud-gray;
      font-size: @font-size-title;
      text-align: center;
      text-transform: uppercase;

      small {
        color: @comet-gray;
        text-transform: none;
      }
    }

    h2 {
      font-size: @font-size-large;
    }

    h3 {
      font-size: @font-size-medium;
    }

    h4 {
      font-size: @font-size-base;
    }

    a {
      color: @link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: @font-color;
      }
    }

    p {
      font-size: @font-size-base;
      font-weight: 300;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-weight: 400;
    }

    ul,
    ol {
      padding-left: 2em;
    }

    img {
      width: 100%;
      border-radius: 0.3125em;
    }

    code {
      display: block;
      width: auto;
      padding: 1em;
      overflow-y: auto;
      background: @font-color;
      border-radius: 0.3125em;
      color: @europa-blue;
      line-height: 1.25;
      -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
      box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    }

    blockquote {
      margin: 1em 0;
      padding-left: 0.5em;
      border-left: 3px solid @cloud-gray;
    }

    // buttons

    .ui.primary.button {
      color: @io-white;
      background: @venus-orange;

      &:hover,
      &:focus {
        background: fade(@venus-orange, 85%);
      }
    }

    .ui.secondary.button {
      color: @io-white;
      background: @europa-blue;

      &:hover,
      &:focus {
        background: fade(@europa-blue, 85%);
      }
    }

    // fluid buttons

    .share-buttons {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      margin: 0 0 1em;

      .large.btn {
        display: block;
        width: 33.333%;
        float: left;
        margin: 0;
        padding: 1em;
        cursor: pointer;
        min-height: 1em;
        outline: 0;
        border: none;
        border-radius: 0;
        vertical-align: baseline;
        text-transform: none;
        text-shadow: none;
        font-size: @font-size-small;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15) inset;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
        transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
        -webkit-tap-highlight-color: transparent;

        &:first-child {
          border-top-left-radius: 0.325em;
          border-bottom-left-radius: 0.325em;
        }

        &:last-child {
          border-top-right-radius: 0.325em;
          border-bottom-right-radius: 0.325em;
        }

        i.fa {
          display: block;
          margin: 0em auto 0.25em;
          opacity: 1;
          height: 1em;
          color: @io-white;
          font-size: @font-size-large;
          font-family: Icons;
          font-style: normal;
          line-height: 1;
          font-weight: normal;
          text-align: center;
          speak: none;
          font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: color 0.6s ease, transform 0.2s ease;
          -moz-transition: color 0.6s ease, transform 0.2s ease;
          -o-transition: color 0.6s ease, transform 0.2s ease;
          -ms-transition: color 0.6s ease, transform 0.2s ease;
          transition: color 0.6s ease, transform 0.2s ease;

          &.fa-facebook:before {
            content: "\f09a";
          }

          &.fa-twitter:before {
            content: "\f099";
          }

          &.fa-google-plus:before {
            content: "\f0d5";
          }
        }
      }
    }

    @media (min-width: @tablet-width) {

      .share-buttons {

        .large.btn {
          font-size: @font-size-base;

          i.fa {
            display: inline-block;
            margin: 0 0.25em 0 0;
            font-size: @font-size-medium;
          }
        }
      }

      .ui.fluid.buttons {
        width: 50%;
        margin: 1em auto;
      }
    }

    @media (min-width: @medium-desktop-width) {

      .ui.fluid.buttons {
        width: 40%;
        margin: 1em auto;
      }
    }

    @media (min-width: @large-desktop-width) {

      .ui.fluid.buttons {
        width: 30%;
        margin: 1em auto;
      }
    }

    // alerts

    .alert {
      position: fixed;
      bottom: 0;
      left: 0;
      width: auto;
      display: block;
      padding: 0.5em;
      margin: 0 auto;
      background: fade(@alert-color, 90%);
      color: @io-white;
      font-size: 1.5em;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.25;
      z-index: 1;

      .close {
        display: none;
      }
    }

    // layout

    .layout {
      min-height: 100%;
      overflow: hidden;
      background: url(@background-img);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      .header {
        position: relative;

        .ui.icon.menu {
          background: @cloud-gray;
          -webkit-box-shadow: 0 0 10px 0 @gray-darker;
          box-shadow: 0 0 10px 0 @gray-darker;
          -webkit-transition: all 0.25s;
          transition: all 0.25s;

          .item {
            color: @font-color;
            text-transform: uppercase;

            &:hover,
            &:focus {
              color: @gray-light;
              background: transparent;
            }

            .content.icon:before {
              content: "\f0c9";
            }
          }
        }
      }

      .yield {
        position: relative;
        overflow: hidden;
        margin: 0 0 25vh;
        z-index: 2;
        background: @background-color;
        -webkit-box-shadow: 0 0 10px 0 @gray-darker;
        box-shadow: 0 0 15px 5px @gray-darker;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;

        .view {
          position: relative;
          padding: 4em 0 2em;
          margin: 0;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100%;
            background: rgba(0,0,0,0.3);
            content: '';
            opacity: 0;
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
            -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
            transition: opacity 0.3s, transform 0s 0.3s;
          }
        }
      }

      .footer {
        opacity: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: url(@background-img);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        .ui.page.grid {

          .column {
            position: relative;
            min-height: 100%;

            .ui.fluid.buttons,
            .ui.load.button {
              position: relative;
              top: 81.5vh;
              left: 0;
              margin: 0 auto;
            }

            @media (min-width: @phone-width) {
              .ui.load.button {
                width: 50%;
              }
            }

            @media (min-width: @tablet-width) {
              .ui.load.button {
                width: 40%;
              }
            }

            @media (min-width: @medium-desktop-width) {
              .ui.load.button {
                width: 30%;
              }
            }
          }
        }
      }

      .copyright {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0.5em 0;
        z-index: 1;
        color: @io-white;
        font-size: @font-size-small;
        text-shadow: 1px 1px 1px @dark;

        a {
          color: @europa-blue;

          &:hover,
          &:focus {
            color: @io-white;
          }
        }
      }

      &.cover {

        .yield {
          height: 100%;
          margin: 0;
        }

        .footer {
          display: none;
          opacity: 0;
        }
      }
    }
  }
}
