@import 'helpers';
@import 'variables';
@import 'lib/elements';

// Main styles

html {
  height: 100%;
  font-family: @font-family-base;

  body {
    height: 100%;

    .layout {
      min-height: 100%;
      overflow-x: hidden;

      .header {
        position: relative;

        .ui.icon.menu {
          background: transparent;
          box-shadow: none;

          .item {

            .content.icon:before {
              content: "\f0c9";
            }
          }
        }
      }

      .yield {
        position: relative;
        padding: 0 0 3em;
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
