<template name="newPost">
  <div class="ui form segment markdown-form new-post">
    <div class="field">
      <input type="text" class="post-title" placeholder="Name your post" required>
    </div>

    <div class="two fields">
      <section class="editor field">
        <textarea name="write" class="write markdown" placeholder="Write your post with markdown" required></textarea>
      </section>

      <section class="preview field">
        <div class="parse markdown">
          {{#markdown}}{{session 'post'}}{{/markdown}}
        </div>
      </section>
    </div>
    <div class="ui two fluid buttons">
      <!-- {{#if editor}} -->
      <div class="ui switch-editor secondary button">
        Preview
      </div>
      <!-- {{else}}
        <div class="ui switch-preview secondary button">
          Editor
        </div>
      {{/if}} -->
      <div class="ui add-new-post primary button">
        Post
      </div>
    </div>
  </div>
</template>
