<template name="newPost">
  <div class="ui form segment markdown-form new-post">
    <div class="field">
      <input type="text" class="post-title" placeholder="Name your post" required>
    </div>

    <i class="maximize unhide toggle icon"></i>

    <div class="two fields">
      <section class="editor field">
        <textarea name="write" class="write markdown" placeholder="Write your post with markdown" required></textarea>
      </section>

      <section class="preview field">
        <div class="parse markdown">
          {{#markdown}}{{session 'post'}}{{/markdown}}
        </div>
      </section>
    </div>

    <div class="ui fluid primary add-new-post button">
      <i class="plus icon"></i>
      New Post
    </div>
  </div>
</template>
