<template name="footer">
  <div class="ui stackable footer page grid">
    <div class="column">
      {{#if showActions}}
        <div class="ui two fluid buttons">
          {{#if currentUser}}
            <a class="ui secondary button" href="{{pathFor 'editPost'}}">
              Edit
            </a>
            <a class="ui delete-post negative button">
              Delete
            </a>
          {{else}}
            <a class="ui secondary button" href="{{pathFor 'home'}}">
              Back
            </a>
            <a class="ui primary button">
              Next
            </a>
          {{/if}}
        </div>
      {{else}}
        {{#if nextPath}}
          <a class="ui primary load fluid button" href="{{nextPath}}">
            Load more posts
          </a>
        {{else}}
          {{#unless ready}}
            {{> loading}}
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
