<template name="loading">
  <div class="ui active loading dimmer">
    <div class="spinner row">
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
    </div>
    <div class="spinner row">
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
    </div>
    <div class="spinner row">
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
      <div class="ui spinner"></div>
    </div>
  </div>
</template>
