<template name="menu">
  <aside class="animated {{animateClass}} menu">
    <div class="ui profile">
      <a href="{{pathFor 'about'}}" class="ui profile-action">
        <img src="/images/about/damir.png" class="ui medium circular image" alt="Damir Vazgird"/>
        <h1 class="name-title">Damir Vazgird <small>Software Engineer</small></h1>
      </a>
      <nav class="ui fluid three item icon menu">
        <a class="item" href="mailto:dvazgird@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="item" href="http://github.com/amazingBastard" target="_blank">
          <i class="github icon"></i>
        </a>
        <a class="item" href="http://twitter.com/dvazgird" target="_blank">
          <i class="twitter icon"></i>
        </a>
      </nav>
    </div>
    <nav class="ui vertical menu">
      <a href="{{pathFor 'home'}}" class="header item">
        All Posts
      </a>
      <div class="header item">
        Recent Projects
        <div class="menu">
          <a href="https://github.com/amazingBastard/booklab" target="_blank" class="item">
            Booklab
          </a>
          <a href="http://favorchimp.com" target="_blank" class="item">
            Favorchimp
          </a>
          <a href="https://github.com/amazingBastard/sms-pics" target="_blank" class="item">
            Snich
          </a>
          <a href="https://github.com/amazingBastard/lockers" target="_blank" class="item">
            SVA Lockers
          </a>
          <a href="https://github.com/amazingBastard/scifi.pub" target="_blank" class="item">
            SciFi.pub
          </a>
          <a href="http://rubyblanc.com" target="_blank" class="item">
            Ruby Blanc
          </a>
          <a href="http://withpulp.com" target="_blank" class="item">
            With Pulp
          </a>
        </div>
      </div>
    </nav>
  </aside>
</template>
