<template name="menu">
  <aside class="animated {{animateClass}} menu">
    <div class="ui profile">
      <nav class="ui fluid three item icon menu">
        <a class="item" href="mailto:dvazgird@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="item">
          <i class="github icon"></i>
        </a>
        <a class="item">
          <i class="twitter icon"></i>
        </a>
      </nav>
      <a href="#">
        <img src="images/user/dv.jpg" class="ui medium circular image" alt="Damir Vazgird"/>
        <h1 class="name-title">Damir Vazgird <small>Software Engineer</small></h1>
      </a>
    </div>
    <nav class="ui vertical menu">
      <a href="#" class="header item">
        All Posts
      </a>
      <a href="#" class="header item">
        About
      </a>
      <div class="header item">
        Recent Projects
        <div class="menu">
          <a href="#" class="item">
            Project 1
          </a>
          <a href="#" class="item">
            Project 2
          </a>
          <a href="#" class="item">
            Project 3
          </a>
          <a href="#" class="item">
            Project 4
          </a>
        </div>
      </div>
    </nav>
  </aside>
</template>
