<template name="menu">
  <aside class="menu">
    <nav class="menu-top">
      <div class="profile">
        <img src="images/user.png" alt="Damir Vazgird"/>
        <span>Damir Vazgird</span>
      </div>
      <div class="icon-list">
        <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
        <a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
        <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
        <a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
      </div>
    </nav>
    <nav class="menu-side">
      <a href="#">Recent Stories</a>
      <a href="#">Reading List</a>
      <a href="#">My Stories</a>
      <a href="#">Categories</a>
    </nav>
  </aside>
</template>
